body, html {   
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin: 0 auto;
    color: white;
    width: 620px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

a {
    color: #ef5839;
}

.section-one a:hover {
    color: #2e354f;
}

.st-link:hover {
    color: white;
}

.img {
    width: 100%;
}

.header, .section-two {
    background: #2e354f;
    padding: 2em 2.5em;
}

.section-one {
    padding: 2em 2.5em;
    background: white;
    color: #2e354f;
}

.so, .st {
    color: #ef5839;
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    font-weight: bold;
    margin-right: 10px;
    text-decoration: none;
}

.btn-orange {
    background: #ef5839;
    color: white;
}

.btn-orange:hover {
    background: white;
    color: #ef5839;
}

.btn-white:hover {
    background: #ef5839;
    color: white;
}

.btn-white {
    background: white;
    color: #ef5839;
}