body, html {   
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin: 0 auto;
    color: white;
    width: 620px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

a {
    color: #ef5839;
}

.main {


}

.img {
    width: 100%;
}

.header, .section-two {
    background: #2e354f;
    padding: 2em 5em;
}
.section-one {
    padding: 2em 5em;
    background: white;
}