/* 
    From the body tag, move the content of our page away from the window edge
    Give the body tag a font-family of ['Gill Sans', 'Gill Sans MT']
 */

html, body {
    margin: 1em;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT';
    display: grid;
    justify-content: center;
}

.title {
    color: #16697A;
    text-align: center;
    margin-bottom: 1em;
}

.entry-textbox {
    background-color: #FFA62B;
    width: 20em;
    height: 10em;
    padding: 1em;
    border: unset;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 1em;
}

.entry-textbox:focus {
    outline: none;
}

/*
  - Go over to the index.html file and give the button a class of "button"
  - Back in the index.css file, target the button using its class
  - Give the button rounded edges using the border-radius property
  - Use the padding property to add space between the button's text and its edges
  - move the button to the right of the page
*/

#entryForm .button {
    border: unset;
    border-radius: 10px;
    padding: 0.8em;
    text-align: right;
    margin-left: 75%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

/* 
    - Give the entries section the background color, #16697A
      (or any other color of your choice)
    - Give it the text color, #EDE7E3
      (if you used your own color, this should be something that is visible
       on the background)
    - Like we did before, give it rounded edges.
 */

 #entries {
     background: #16697A;
     color: #ede7e3;
     border-radius: 10px;
     padding: 0.5em;
     max-width: 20em;
     border: unset;
 }