@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

body {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
}

#main {
    background: rgba(86,104,91,0.7);
}

header {
    background-image: linear-gradient(313deg, rgba(86,104,91,0.2) 0%, rgba(122,156,166,0.2) 36%), url("maigret-cover.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(86,104,91,0.7);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    background: linear-gradient(0deg, rgba(255,255,255,0.4) 0%, rgba(238,238,238,0.4) 90%);
    padding: 3em;
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

.hero p {
    font-weight: 600;
}

#img-div {
    width: 100%;
    margin: 2em auto;
}

#image {
    width: 100%;
    border-radius: 0px;
    box-shadow: 0px 0px 10px black;
}

.caption {
    padding: 0.2em 0;
    font-weight: 800;
    text-align: center;
}

h2 {
    text-align: center;
}

ul {
    background: white;
    margin: 1em;
    padding: 2em;
    list-style: circle;
    font-family: courier;
}

li {
    padding: .3em 0;
}


#main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "header header header"
    "img-div portrait bio"
    "liste liste liste"
    "link link link";
align-items: center;
justify-items: center;
    border: 6px dashed white;
}

header {
    grid-area: header;
}

#img-div {
    grid-area: img-div;
    border: 6px solid gold;
}

.bio {
    grid-area: bio;
    border: 6px dashed purple;
}

#tribute-info {
    grid-area: liste;
}

.link {
    grid-area: link;
}
