/* DON'T TOUCH THIS! */

/* DON'T TOUCH THIS! */

/* ==========================
	Write your solution here!
   ========================== */

body {
   margin: 0;
   padding: 0;
   font-size: 18px;
   font-family: lato, sans-serif;
}

/* layout */

.container {
   width: 95%;
   margin: 0 auto;
   padding: 1em;
}

.title-section, .about-section, .contact-section {
   text-align: center;
}

.title-section {
   background: #2e354f;
   color: white;
}

/* Text */

.title-text, .section-title {
   text-transform: uppercase;
}

.section-title {
   color: #2e354f;
}

a {
   color: #ef5839;
}

a:hover, a:focus {
   color: #2e354f;
}

/* Button*/

.btn {
   display: inline-block;
   background: #ef5839;
   color: white;
   padding: 10px 25px;
   text-decoration: none;
}

.btn:focus, .btn:hover {
   background: #d4b44c;
   color: #2e354f;
}

